#mapId { height: 800px; }

div.leaflet-popup-content-wrapper > div > h2 {
    font-size: 1.1em;
    font-weight: bold; 
}

div.leaflet-popup-content-wrapper > div > hr {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #666666;
    height: 1px;
}

div.leaflet-popup-content-wrapper > div > table {
    margin-top: 10px;
    width: 100%;
}

div.leaflet-popup-content-wrapper > div > table > thead > tr {
    font-weight: bold;
    font-size: 0.8em;
    border: 1px solid #aaaaaa;
}

div.leaflet-popup-content-wrapper > div > table > thead > tr > th {
    padding-left: 8px;
    color: #000000;
}

div.leaflet-popup-content-wrapper > div > table > tbody > tr {
    border: 1px solid #aaaaaa;
    background-color: #cccccc;
    font-size: 0.8em;
}

div.leaflet-popup-content-wrapper > div > table > tbody > tr:nth-child(even) {
    background-color: #eeeeee;
}

div.leaflet-popup-content-wrapper > div > table > tbody > tr > td {
    padding-left: 8px;
}

.update-time {
    font-style: italic;
    font-size: 0.8em;
    color: #666666;
}
